.container {
  padding: 0.6rem;
}

.gdoc-header {
  background: #44879A;
  border-bottom: 0rem solid #8B8B8B;
  box-shadow: 0 0 1rem #8B8B8B;
}

.gdoc-brand {
  font-size: 2rem;
  font-family: serif;
}

.gdoc-brand__img {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
}

.gdoc-footer {
  background: #44879A;
}
