.container {
  padding: 0.6rem;
}

.gdoc-header {
  border-bottom: 0rem solid #8B8B8B;
  box-shadow: 0 0 1rem #8B8B8B;
}

.gdoc-brand {
  font-size: 2rem;
  font-family: serif;
}

.gdoc-brand__img {
  margin-right: 0.8rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
}

/* Icons */

.gdoc_dicord {
  background: url('./icons/discord-mark-white.svg');
  background-repeat: no-repeat;
  margin-top: 5px;
  background-size: 90%;
}

/* Themes */

:root[color-theme="light"] {
  --header-background: #4E666D;
  --accent-color-lite: #E3EAE6;
  --footer-background: #4E666D;
}
@media (prefers-color-scheme: light) {
  :root {
    --header-background: #4E666D;
    --accent-color-lite: #E3EAE6;
    --footer-background: #4E666D;
  }
}

:root[color-theme="dark"] {
  --header-background: #4E666D;
  --body-background: #3F3F3F;
  --accent-color-lite: #4F5759;
  --footer-background: #3F4B4E;
}
@media (prefers-color-scheme: dark) {
  :root {
    --header-background: #4E666D;
    --body-background: #3F3F3F;
	--accent-color-lite: #4F5759;
    --footer-background: #3F4B4E;
  }
}
