name: Build

on:
  push:
    branches:
      - master
    paths:
      - lisp/**
      - cmds/**
      - src/**
      - test/**
      - '**.yml'
      - '**.json'
      - 'eask'
      # ignore
      - '!**/docs.yml'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**/docs.yml'
      - '**.md'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  VERSION: 0.12.1
  REPO_BIN: 'emacs-eask/binaries'

jobs:
  prepare:
    runs-on: ubuntu-latest

    steps:
    - uses: jcs-actions/delete-tag-and-release@master
      if: github.ref == 'refs/heads/master'
      continue-on-error: true
      with:
        delete_release: true
        tag_name: ${{ env.VERSION }}
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}

  build:
    needs: [prepare]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
        - linux-arm64
        - linux-x64
        - macos-arm64
        - macos-x64
        - win-arm64
        - win-x64

    steps:
    - uses: actions/checkout@v6

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install --assume-yes qemu-user-binfmt

    - uses: MOZGIII/install-ldid-action@master
      with:
        tag: v2.1.5-procursus7

    - name: Preparing...
      run: npm install --include=dev

    - name: Building...
      run: npm run-script pkg-${{ matrix.target }}

    - name: Prepare content...
      run: |
        mv lisp dist
        mv COPYING dist
        mv README.md dist

    - name: Setup environment (Unix)
      if: contains(fromJSON('["linux-arm64", "linux-x64", "macos-arm64", "macos-x64"]'), matrix.target)
      run: |
        echo "_EXT=tar.gz" >> $GITHUB_ENV

    - name: Setup environment (Windows)
      if: contains(fromJSON('["win-arm64", "win-x64"]'), matrix.target)
      run: |
        echo "_EXT=zip" >> $GITHUB_ENV

    - name: Change permissions (Unix)
      if: contains(fromJSON('["linux-arm64", "linux-x64", "macos-arm64", "macos-x64"]'), matrix.target)
      run: |
        chmod -R 777 ./dist

    - name: Tar dist (Unix)
      if: contains(fromJSON('["linux-arm64", "linux-x64", "macos-arm64", "macos-x64"]'), matrix.target)
      run: |
        tar czf ${{ matrix.target }}.${{ env._EXT }} -C ./dist/ .
        cp ${{ matrix.target }}.${{ env._EXT }} eask_${{ env.VERSION }}_${{ matrix.target }}.${{ env._EXT }}

    - name: Zipping dist (Windows)
      if: contains(fromJSON('["win-arm64", "win-x64"]'), matrix.target)
      working-directory: dist
      run: |
        zip -r ${{ matrix.target }}.${{ env._EXT }} .
        mv ${{ matrix.target }}.${{ env._EXT }} ../
        cd ..
        cp ${{ matrix.target }}.${{ env._EXT }} eask_${{ env.VERSION }}_${{ matrix.target }}.${{ env._EXT }}

    - name: Upload for prerelease
      if: github.ref == 'refs/heads/master'
      uses: softprops/action-gh-release@v2.5.0
      with:
        tag_name: ${{ env.VERSION }}
        token: ${{ secrets.PAT }}
        prerelease: true
        draft: false
        files: eask_${{ env.VERSION }}_${{ matrix.target }}.${{ env._EXT }}

    #### Upload an artifact for testing purposes

    - name: Upload for tests
      uses: actions/upload-artifact@v5
      with:
        name: ${{ matrix.target }}
        path: dist

    #### Prepare to push to `binaries` repository!

    - name: Move tar to HOME
      run: mv ${{ matrix.target }}.${{ env._EXT }} ~/

    - name: Checkout binaries repository
      uses: actions/checkout@v6
      with:
        repository: ${{ env.REPO_BIN }}
        persist-credentials: false
        fetch-depth: 0

    - name: Clean up previous binaries
      continue-on-error: true
      run: rm -rf eask/${{ matrix.target }}.${{ env._EXT }}

    - name: Move binaries to repository
      run: mv ~/${{ matrix.target }}.${{ env._EXT }} ./

    - name: Set git config
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com

    - name: Commit
      continue-on-error: true
      run: |
        git pull
        git add .
        git commit -m "Update binaries ${{ matrix.target }}.${{ env._EXT }}"

    - name: Push
      if: github.ref == 'refs/heads/master'
      uses: jcs-actions/github-push-action@master
      with:
        repository: ${{ env.REPO_BIN }}
        github_token: ${{ secrets.PAT }}
        branch: master
        rebase: true
        retry: 7
