name: Build

on:
  push:
    branches:
      - master
    paths:
      - '**.yml'
      - lisp/**
      - cmds/**
      - src/**
      - test/**
  pull_request:
    branches:
      - master
    paths-ignore:
    - '**.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  VERSION: 0.6.42
  NODE: node16
  REPO_BIN: 'emacs-eask/binaries'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        targets:
        - linux-arm64
        - linux-x64
        - macos-arm64
        - macos-x64
        - win-arm64
        - win-x64

    steps:
    - uses: actions/setup-node@v2
      with:
        node-version: '16'

    - name: Install pkg
      run: npm install -g pkg

    - uses: actions/checkout@v2

    - name: Preparing...
      run: npm install

    - name: Building...
      run: pkg package.json -t ${{ env.NODE }}-${{ matrix.targets }}

    - name: Prepare content...
      run: |
        mv lisp dist
        mv COPYING dist
        mv README.md dist

    - name: Uploading...
      uses: actions/upload-artifact@v1
      with:
        name: eask_${{ env.VERSION }}_${{ matrix.targets }}
        path: dist

    - name: Zipping dist
      run: tar -C dist -cvf ${{ matrix.targets }}.tar .

    - name: Move zip to HOME
      run: mv ${{ matrix.targets }}.tar ~/

    - name: Checkout binaries repository
      uses: actions/checkout@v3
      with:
        repository: ${{ env.REPO_BIN }}
        persist-credentials: false
        fetch-depth: 0

    - name: Clean up previous binaires
      continue-on-error: true
      run: rm -rf eask/${{ matrix.targets }}.tar

    - name: Move binaires to repository
      run: mv ~/${{ matrix.targets }}.tar ./

    - name: Set git config
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com

    - name: Commit
      continue-on-error: true
      run: |
        git pull
        git add .
        git commit -m "Update binairs ${{ matrix.targets }}.tar"

    - name: Push
      uses: jcs090218/github-push-action@master
      with:
        repository: ${{ env.REPO_BIN }}
        github_token: ${{ secrets.PAT }}
        branch: master
        retry: 7
