name: Build

on:
  push:
    branches:
      - master
    paths:
      - '**.yml'
      - lisp/**
      - cmds/**
      - src/**
      - test/**
      - '**.json'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**.md'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  VERSION: 0.8.1
  NODE: node16
  REPO_BIN: 'emacs-eask/binaries'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        targets:
        - linux-arm64
        - linux-x64
        - macos-arm64
        - macos-x64
        - win-arm64
        - win-x64

    steps:
    - uses: actions/checkout@v3

    - name: Install pkg
      run: npm install -g pkg

    - name: Preparing...
      run: npm install

    - name: Building...
      run: npm run-script pkg-${{ matrix.targets }}

    - name: Prepare content...
      run: |
        mv lisp dist
        mv COPYING dist
        mv README.md dist

    - name: Uploading...
      uses: actions/upload-artifact@v3
      with:
        name: eask_${{ env.VERSION }}_${{ matrix.targets }}
        path: dist

    - name: Zipping dist
      working-directory: dist
      run: |
        zip -r ${{ matrix.targets }}.zip .
        mv ${{ matrix.targets }}.zip ../

    - name: Move zip to HOME
      run: mv ${{ matrix.targets }}.zip ~/

    - name: Checkout binaries repository
      uses: actions/checkout@v3
      with:
        repository: ${{ env.REPO_BIN }}
        persist-credentials: false
        fetch-depth: 0

    - name: Clean up previous binaires
      continue-on-error: true
      run: rm -rf eask/${{ matrix.targets }}.zip

    - name: Move binaires to repository
      run: mv ~/${{ matrix.targets }}.zip ./

    - name: Set git config
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com

    - name: Commit
      continue-on-error: true
      run: |
        git pull
        git add .
        git commit -m "Update binairs ${{ matrix.targets }}.zip"

    - name: Push
      if: github.ref == 'refs/heads/master'
      uses: jcs090218/github-push-action@master
      with:
        repository: ${{ env.REPO_BIN }}
        github_token: ${{ secrets.PAT }}
        branch: master
        rebase: true
        retry: 7
