name: Webinstall

on:
  push:
    branches:
      - master
    paths:
      - webinstall/**
  pull_request:
    branches:
      - master
    paths:
      - webinstall/**
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3

    - name: Install Eask (Unix)
      if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
      run: |
        chmod -R 777 ./
        ./webinstall/install.sh

    - name: Install Eask (Windows)
      if: matrix.os == 'windows-latest'
      run: ./webinstall/install.bat

    - name: Testing... (Unix)
      if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
      run: |
         ~/.local/bin/eask --version

    - name: Testing... (Windows)
      if: matrix.os == 'windows-latest'
      run: |
         $HOME/.local/bin/eask.exe --version
